# Dependencies
node_modules/
.pnpm-debug.log*
.wrangler/
.npm/

# Build outputs
dist/
build/
.turbo/
out/
.next/
.source/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.history/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Temporal files
/tmp/
.temp/

# Misc
*.tsbuildinfo

# progress file
TODO.md
ENGINE_API.md
ARCHITECTURE.md
axeoms-how-it-works.md
trys/
assets/